[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = release-v4.9
[submodule "lib/pt-v5-claimer"]
	path = lib/pt-v5-claimer
	url = https://github.com/generationsoftware/pt-v5-claimer
	branch = main
[submodule "lib/pt-v5-rng-contracts"]
	path = lib/pt-v5-rng-contracts
	url = https://github.com/generationsoftware/pt-v5-rng-contracts
	branch = main
[submodule "lib/pt-v5-prize-pool"]
	path = lib/pt-v5-prize-pool
	url = https://github.com/GenerationSoftware/pt-v5-prize-pool
	branch = main
[submodule "lib/pt-v5-twab-controller"]
	path = lib/pt-v5-twab-controller
	url = https://github.com/GenerationSoftware/pt-v5-twab-controller
	branch = main
[submodule "lib/pt-v5-liquidator-interfaces"]
	path = lib/pt-v5-liquidator-interfaces
	url = https://github.com/GenerationSoftware/pt-v5-liquidator-interfaces
	branch = main
[submodule "lib/pt-v5-vault"]
	path = lib/pt-v5-vault
	url = https://github.com/GenerationSoftware/pt-v5-vault
	branch = main
[submodule "lib/pt-v5-cgda-liquidator"]
	path = lib/pt-v5-cgda-liquidator
	url = https://github.com/GenerationSoftware/pt-v5-cgda-liquidator
	branch = main
[submodule "lib/pt-v5-draw-auction"]
	path = lib/pt-v5-draw-auction
	url = https://github.com/GenerationSoftware/pt-v5-draw-auction
	branch = main
[submodule "lib/erc5164-interfaces"]
	path = lib/erc5164-interfaces
	url = https://github.com/GenerationSoftware/erc5164-interfaces
	branch = main
[submodule "lib/remote-owner"]
	path = lib/remote-owner
	url = https://github.com/GenerationSoftware/remote-owner
[submodule "lib/pt-v5-draw-manager"]
	path = lib/pt-v5-draw-manager
	url = https://github.com/GenerationSoftware/pt-v5-draw-manager
